.genreCard {
    display: flex;
    text-decoration: none;
    box-shadow: 1px 1px 5px white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px gray;
    transition: shadow .5s linear;
}

.genreCard:hover {
    box-shadow: 2px 2px 12px gray;
}

.genreCard-poster {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 55px;
    height: 83px;
    border-radius: 10px;
    margin: 10px 10px;
}

.genreCard-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2rem;
    width: 100%;
    color: #000000;
}

.genreCard-movieTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin: 10px 10px;
}

.genreCard-movieTitle article {
    display: flex;
    gap: 8px;
}

.genreCard-releaseYear {
    display: flex;
    width: 100%;
    margin: 10px 10px;
}

.genreCard-title {
    font-weight: 700;
    font-size: 18px;
    font-family: raleway;
}